.container {
    padding-left: 0;
    position: relative;
}

.container-accent {
    position: absolute;
    width: 100%;
    top: 76px;
    left: 0;
    right: 0;
    height: 4px;
    z-index: -100;
    background: #FE7500;
}
.container-head {
    background: #A741A1;
    position: absolute;
    left: 0;
    right: 0;
    height: 77px;
    top: 0;
    z-index: -90;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.backToHome {
    margin: 3rem 2rem;
    text-align: center;
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 500;
    padding: 3rem;
    font-size: 1.33rem;
}

.backToHome a {
    text-shadow: none;
    color: aqua !important;
}

.header-logo {
    flex: 0;
    flex-basis: 116px;
}

.header-spacer {
    flex: 0;
    flex-basis: 3rem;
}

.header-title {
    flex-grow: 1;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
        font-family: 'Oswald', sans-serif;
        font-size: 4rem;
        color: black;
        font-weight: 300;
        text-transform: uppercase;
        text-shadow: 5px 1px 30px rgba(255, 255, 255, 0.25);
    }
}
